/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

.container {
    display: grid;
    margin: 8vw 28vw;
    padding: 20px;
}

@media screen and (max-width: 1024px) {
    .container {
        margin: 4vw 4vw;
    }
}

@media screen and (max-width: 768px) {
    .container {
        margin: 2vw;
        padding: 15px;
    }
}

@media screen and (max-width: 480px) {
    .container {
        margin: 2vw;
        padding: 10px;
    }
}

p {
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    letter-spacing: 0.3px;
    line-height: 140%;
}

h1 {
    font-family: 'JetBrains Mono', monospace;
    font-size: 25px;
    font-weight: 400;
    margin-bottom: 0px;
}

h2 {
    font-family:  'JetBrains Mono', monospace;
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 0px;
}

.pages {
    font-family:  'JetBrains Mono', monospace;
    font-size: 12px;
    color: black;
    font-weight: 500;
    background-color: rgb(239, 239, 239);
    padding: 4px 7px;
    border-radius: 5px;
    text-decoration: none;
    display: inline-block;
    text-align: center;
    align-items: center;
}

.pages:hover {
    background-color: #594bf2;
    color: white;
    i {
        color: white;
    }
}

.icons-grid {
    display: grid;
    grid-template-columns: 120px 120px 120px 50px 50px 50px; 
    gap: 10px;
}

i {
    font-size: 20px;
    line-height: none;
    color: black; 
}

.fas, .fab, .fa {
    line-height: normal !important;
}

.date {
    font-family:  'JetBrains Mono', monospace;
    padding: 4px 7px;
    font-size: 12px;
    letter-spacing: 0.3px;
    line-height: 120%;
    font-weight: 500;
    text-decoration: none;
    border-radius: 7px;
    background-color: rgb(221, 221, 221);
}

hr {
    width: 100%;  
    border: none;
    border-top: 3px solid #eaeaea;
}

.writing-grid {
    display: grid;
    grid-template-columns: 80px 300px; 
    gap: 20px;
    align-items: center;
}

.linkW {
    padding-left: 6px;
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    letter-spacing: 0.3px;
    line-height: 140%;
    text-decoration-line: underline;
    text-decoration-thickness: 2px;
    text-underline-offset: 4px;
    color: black;
}

.tocLink {
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    border: none;
    text-decoration: none;
    text-underline-offset: 4px;
    color: #594bf2;
    font-size: 13px;
    letter-spacing: 0.3px;
    line-height: 140%;
}

ul{
    list-style: none;
    padding: 0; 
    margin: 0;
}


li {
    display: flex; 
    align-items: center;
    p {
        text-decoration: underline dotted;
        text-decoration-thickness: 2px;
        text-underline-offset: 4px;
        margin-top: 6px;
        margin-right: 6px;
        margin-bottom: 8px; 
    }
}
  
li:hover {  
    cursor: pointer;
}
  