@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

h1 {
    font-family: "JetBrains Mono", sans-serif;
    font-size: 28px;
}

h2 {
    font-family: 'Inter', sans-serif;
    font-size: 30px;
    font-weight: 400;
    letter-spacing: -0.02em;
    margin-bottom: 0;
}

h3 {
    font-size: 24px;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    letter-spacing: -0.02em;
}

h4 {
    font-size: 18px;
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    letter-spacing: -0.02em;
    margin-bottom: 0;
}

body {
    font-family: Inter, sans-serif;
    letter-spacing: 0.3px;
    line-height: 1.4;
    padding-top: 3vw;
    padding-right: 15vw;
    padding-left: 15vw;
}

code {
    font-family: monospace;
    border-radius: 5px;
    padding: 2px; 
    border: 1px solid rgb(236, 236, 236);
    font-size: 13px;
    background-color: rgb(236, 236, 236);
    color: black;
}

.math {
    display: inline-block;
  }

@media (max-width: 768px) {
    body {
        padding-right: 10vw;
        padding-left: 10vw;
    }
}

.headings {
    font-family: "JetBrains Mono", sans-serif;
    padding-top: 10px;
    font-size: 13px;
    margin-bottom: 0px;
    font-weight: 500;
    color: rgb(59, 55, 252);
}

p {
    line-height: 138%;
    font-size: 14px;
}

li {
    font-size: 14px;
}

.orange {
    font-family: "JetBrains Mono", sans-serif;
    font-size: 12px;
    font-weight: 600;
    background-color: rgb(255, 204, 0);
    color: rgb(178, 80, 0);
    margin-top: 10px;
    text-align: center;
    margin-right: 10px;
    border-radius: 4px;
    border-width: initial;
    border-style: none;
    border-color: initial;
    border-image: initial;
    padding: 2px 6px;
    text-decoration: none;
}


.orange:hover {
    background-color: rgb(251, 228, 134);
    color: rgb(178, 80, 0);
}

.pageNavigation {
    font-family: 'JetBrains Mono', sans-serif;
    color: black;
    line-height: 180%;
    letter-spacing: 0.9px;
    width: 50vw;
    background-color: white;
    margin-bottom: 2px;
    margin-top: 12px;
    padding: 0;
    text-align: center;
    font-size: 15px;
    border: solid 1px black;
    border-radius: 5px;
}

.pageNavigation:hover {
    background-color: #dcdcdc;
}

row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

column {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
}

.row {
    display: flex;
}

.column {
    flex: 1;
    padding: 10px;
    text-align: center;
}

a {
    border: none;
    background-color: white;
    text-decoration: underline dotted;
    text-decoration-thickness: 2px;
    text-underline-offset: 4px;
    color: #3B37FC;
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    letter-spacing: 0.3px;
    line-height: 130%;
}

.bloglink {
    color: #0070f3;
    text-decoration: none;
    font-weight: 500;
}

.subheading {
    color: #0070f3;
    text-decoration: none;
    font-weight: 500;
    padding-left: 20px;
}

.blogtag {
    margin-top: 0;
    align-self: flex-start;
    font-family: Inter;
    font-size: 12px;
    font-weight: 500;
    text-decoration: none;
    color: rgb(94, 94, 94);
    padding-top: 8px;
}

.top {
    cursor: pointer;
    position: fixed; 
    bottom: 20px;
    right: 20px;
    z-index: 999; 
}

em {
    font-family: Inter;
    font-style: normal;
    border-radius: 5px;
    padding: 2px; 
    border: 0.2px solid rgb(176, 243, 191);
    font-size: 13px;
    background-color: rgb(176, 243, 191);
    color: black;
    border-bottom: 0;
}