/* Fonts */
@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap');

body {
    margin: 0;
    padding: 0;
}

p {
  font-family: "Inter", sans-serif;
  font-size: 14px;
  letter-spacing: 0.3px;
  line-height: 140%;
  margin: 10px 0;
}

h1 {
  font-family: "Libre Baskerville", serif;
  font-style: italic;
  font-size: 25px;
  font-weight: 400;
  margin-bottom: 0px;
}

h2 {
  font-family: "JetBrains Mono", monospace;
  font-size: 18px;
  margin-bottom: 0px;
}

h3 {
  font-family: "Libre Baskerville", serif;
  font-style: italic;
  font-size: 15px;
  font-weight: 400;
  color: white;
  letter-spacing: 0.4px;
  margin-bottom: 15px;
  margin-top: 15px;
}

h4 {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.5px;
  margin-top: 20px;
  margin-bottom: 0;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1.2fr;
    height: 100vh;
}

.leftColumn {
    margin-left: 20px;
    padding: 30px 30px;
    margin-right: 20px;
    overflow-y: none; 
}

.rightColumn {
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 30px;
    background-color: black;
    color: white;
    padding-bottom: 20px;
    overflow-y: auto; 
}

@media only screen and (max-width: 900px) {
    .container {
        grid-template-columns: 1fr;
        margin: 0;
    }
    .leftColumn {
        overflow-y: auto;
    }
    .imageContainer img {
      width: auto;
      height: auto; 
    }
}

.pages {
  font-family: "JetBrains Mono", monospace;
  font-size: 12px;
  color: white;
  font-weight: 500;
  background-color: rgb(9, 9, 9);
  padding: 4px 7px;
  border-radius: 6px;
  text-decoration: none;
  display: inline-block;
  text-align: center;
  align-items: center;
  i {
    color: white;
  }
}

.pages:hover {
  background-color: #594bf2;
}

.icons-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(10px, max-content));
  gap: 10px;
  margin-top: 8px;
  justify-items: start; 
  padding-bottom: 20px;
}

@media (max-width: 600px) {
  .icons-grid {
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  }
}

i {
  font-size: 20px;
  line-height: none;
  color: black;
}

.fas,
.fab,
.fa {
  line-height: normal !important;
}

.date {
  font-family: "JetBrains Mono", monospace;
  padding: 4px 10px;
  font-size: 12px;
  letter-spacing: 0.3px;
  font-weight: 500;
  text-decoration: none;
  background-color: #ede9ff;
  color: #3e2c8f;
  padding: 4px 8px;
  border-radius: 4px;
  display: inline-block;
  text-align: center;
  border: 1px solid #d3c8ff;
}

hr {
  width: 100%;
  border: none;
  border-top: 3px solid #424242;
}

.writing-grid {
  display: grid;
  grid-template-columns: 80px 300px;
  gap: 20px;
  align-items: center;
  margin-bottom: 0px;
}

.linkW {
  padding-left: 6px;
  font-family: "Inter", sans-serif;
  font-size: 14px;
  letter-spacing: 0.3px;
  line-height: 140%;
  text-decoration-line: underline;
  text-decoration-thickness: 2px;
  text-decoration-color: #594bf2;
  text-underline-offset: 2px;
  color: black;
}
.tocLink {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  border: none;
  text-decoration: none;
  text-underline-offset: 4px;
  color: #6fb9ff;
  font-size: 13px;
  letter-spacing: 0.3px;
  line-height: 140%;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  display: flex;
  align-items: center;
  p {
    text-decoration: underline dotted;
    text-decoration-thickness: 2px;
    text-underline-offset: 4px;
    margin-top: 6px;
    margin-right: 6px;
    margin-bottom: 8px;
  }
}

li:hover {
  cursor: pointer;
}

.links {
  font-family: "Inter", sans-serif;
  border: none;
  text-decoration: underline dotted;
  text-decoration-thickness: 2px;
  text-underline-offset: 2px;
  color: #6fb9ff;
  font-size: 14px;
  letter-spacing: 0.3px;
  line-height: 140%;
}

.header-grid {
  display: grid;
  grid-template-columns: 60px 80px 300px;
  gap: 10px;
  align-items: center;
}

.header-proj-grid {
    display: grid;
    grid-template-columns: 60px 100px 300px;
    gap: 10px;
    align-items: center;
  }

code {
  font-family: "JetBrains Mono", monospace;
  font-size: 12px;
  letter-spacing: 0.3px;
  line-height: 100%;
  background-color: rgb(212, 212, 212);
  color: rgb(37, 37, 37);
  padding: 3px 3px;
  border-radius: 5px;
  text-decoration: none;
  display: inline-block;
}

.caption {
  font-family: "Inter", sans-serif;
  font-size: 12px;
  letter-spacing: 0.3px;
  line-height: 130%;
  background-color: #ede9ff;
  color: #3e2c8f;
  padding: 4px 8px;
  border-radius: 4px;
  text-decoration: none;
  display: inline-block;
  text-align: center;
  border: 1px solid #d3c8ff;
}

.project-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 25px;
}

@media (max-width: 768px) {
  .project-container {
    grid-template-columns: 1fr;
  }
}

.project-table {
  width: 100%;
  border: rgb(216, 216, 216) solid 2px;
  border-radius: 8px;
  overflow: hidden;
  background-color: #fff;
  margin: 15px auto;
  padding: 10px;
  font-family: "Inter", sans-serif;
  position: relative;
  transition: transform 0.3s ease;
}

.test-container {
    display: flex;
    width: 100%;
    max-width: 100vw;
    flex-direction: row;
}

.text-container {
    flex: 1;
    padding: 0;
    align-items: center;
}

.image-container {
    flex: 0 0 50%;
    height: 4em;
    display: flex;
    overflow: hidden;
}

.image-container img {
    width: 100%;
    height: 100%;
    border-radius: 6px;
    object-fit: cover;
}

@media (max-width: 700px) {
    .test-container {
        flex-direction: column; /* Switch to vertical layout on smaller screens */
    }

    .image-container {
        height: auto;
        width: 100%; /* Make image container full width when in column layout */
    }

    .image-container img {
        width: 100%;
        height: auto; /* Maintain aspect ratio when in vertical layout */
    }
}


.project-table:hover {
  transform: scale(1.01);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.project-info {
  padding: 16px;
}

.project-title {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 0.3px;
  margin: 0 0 5px;
  color: black;
}

.project-details {
  font-size: 13px;
  color: #555;
  margin: 0;
  line-height: 160%;
}

.status {
  color: rgb(58, 169, 159);
  font-weight: bold;
}

.tag {
  font-family: "JetBrains Mono", monospace;
  font-size: 11px;
  letter-spacing: 0.3px;
  line-height: 120%;
  font-weight: 500;
  color: #fff;
  padding: 4px 7px;
  border-radius: 7px;
  font-weight: 500;
}

.tagGraphics {
  background-color: rgb(139, 126, 200);
  /* background-color: #974aa5; */
}

.tagHardware {
  background-color: rgb(209, 77, 65);
  /* background-color: #2196F3; */
}

.tagDesign {
  background-color: rgb(208, 162, 21);
  /* background-color: #FF6F00; */
}

.tagWeb {
  background-color: rgb(58, 169, 159);
  /* background-color: #4CAF50; */
}

.tagiOS {
  background-color: rgb(67, 133, 190);
  /* background-color: #D53D4F; */
}

.tagWriting {
  background-color: rgb(135, 154, 57);
  /* background-color: #3D52D5; */
}

.tagMLAI {
  background-color: rgb(206, 93, 151);
  /* background-color: #b27e06; */
}

.expand-arrow {
  transform: rotate(45deg);
  text-decoration: none;
  margin-left: 2px;
  font-size: 16px;
}

.project {
  text-decoration: none;
  color: black;
}

.images {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 10px;
  margin-top: 10px;
}

.contentTag {
  font-family: 'JetBrains Mono', monospace;
  font-size: 12px;
  letter-spacing: 0.3px;
  line-height: 1.5;
  background-color: rgb(249, 231, 127);
  color: black;
  padding: 2px 7px;
  margin-bottom: 0px;
  border-radius: 5px;
  text-decoration: none;
  display: inline-block;
  margin-right: 5px;
}

.carousel {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  overflow: hidden;
}

.arrow {
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
}


.review h1 {
  font-family: "Inter", sans-serif;
  font-size: 18px;
}

.details {
  color: #555;
}

.quote-callout {
  display: flex;
  align-items: flex-start;
  gap: 10px;
  padding: 10px 15px;
  background-color: #f9f9f9;
  border-left: 4px solid #5a67d8;
  border-radius: 4px;
  font-size: 16px;
  line-height: 1.6;
  color: #333;
}

.quote-icon {
  font-size: 20px;
  color: #5a67d8;
}

.quote-callout p {
  margin: 0;
}
