.container {
    display: grid;
    grid-template-columns: 1fr 1.3fr;
    height: 100vh;
}

.leftColumn {
    margin-left: 20px;
    padding: 20px 20px;
    margin-right: 20px;
    overflow-y: none; 
}

.rightColumn {
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 0px;
    background-color: black;
    color: white;
    padding-bottom: 20px;
    overflow-y: auto; 
}

@media only screen and (max-width: 900px) {
    .container {
        grid-template-columns: 1fr;
        margin: 0;
    }
    .leftColumn {
        overflow-y: auto;
    }
    .mobileImage {
      width: auto;
      height: auto; 
    }
}

.mobileImage {
    height: auto; 
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.icons {
    margin-left: 10px;
}

.icons img {
    margin-right: 5px;
}

.icons {
    display: flex;
}

.icon {
    color: black;
    margin-right: 10px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 16px;
    height: 16px;
    text-decoration: none;
}

.icon:hover {
    color: #4100f3;
}

.heading {
    font-family: 'JetBrains Mono', monospace;
    font-size: 15px;
    font-weight: 700;
    letter-spacing: 0.5px;
    margin-top: 30px;
    margin-bottom: 10px;
}

.tag {
    font-family: 'JetBrains Mono', monospace;
    font-size: 12px;
    letter-spacing: 0.3px;
    line-height: 1.5;
    color: #ffffff;
    padding: 2px 7px;
    border-radius: 5px;
    text-decoration: none;
    display: inline-block;
    margin-right: 5px;
}

.date {
    font-family: 'JetBrains Mono', monospace;
    padding-right: 6px;
    font-size: 12px;
    letter-spacing: 0.3px;
    line-height: 140%;
    font-weight: 500;
    text-decoration: none;
}

.tagGraphics {
    background-color: rgb(139, 126, 200);
    /* background-color: #974aa5; */
}

.tagHardware {
    background-color: rgb(209, 77, 65);
    /* background-color: #2196F3; */
}

.tagDesign {
    background-color: rgb(208, 162, 21);
    /* background-color: #FF6F00; */
}

.tagWeb {
    background-color: rgb(58, 169, 159);
    /* background-color: #4CAF50; */
}

.tagiOS {
    background-color: rgb(67, 133, 190);
    /* background-color: #D53D4F; */
}

.tagWriting {
    background-color: rgb(135, 154, 57);
    /* background-color: #3D52D5; */
}

.tagMLAI {
    background-color: rgb(206, 93, 151);
    /* background-color: #b27e06; */
}

.linkP {
    padding-left: 6px;
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    letter-spacing: 0.3px;
    line-height: 140%;
    text-decoration: underline dotted;
    text-decoration-thickness: 2px;
    text-underline-offset: 4px;
    color: black;
}

.iframeContainer {
    height: 800px;
}

.links {
    font-family: 'Inter', sans-serif;
    border: none;
    background-color: black;
    text-decoration: underline dotted;
    text-decoration-thickness: 2px;
    text-underline-offset: 4px;
    color: rgb(230, 213, 99);
    font-size: 14px;
    letter-spacing: 0.3px;
    line-height: 140%;
}

.imageContainer {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    border-radius: 10px;
}

.contentTag {
    font-family: 'JetBrains Mono', monospace;
    font-size: 12px;
    letter-spacing: 0.3px;
    line-height: 1.5;
    background-color: rgb(216, 216, 216);
    color: black;
    padding: 2px 7px;
    margin-bottom: 0px;
    border-radius: 5px;
    text-decoration: none;
    display: inline-block;
    margin-right: 5px;
}

.contentsLink {
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    border: none;
    background-color: black;
    text-decoration: none;
    text-underline-offset: 4px;
    color: #6fb9ff;
    font-size: 13px;
    letter-spacing: 0.3px;
    line-height: 140%;
}