.leftColumn {
    flex: 1;
    margin: 30px 0px 30px 30px;
    padding: 1px;
    background: #fefefe;
    color: black;
    border: 10px solid #fefefe;
    border-radius: 15px;
    height: 100vh;
}

.rightColumn {
    flex: 4;
    margin: 30px 30px 0px 0px;
    height: 100vh;
}