@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap');

.container {
    display: grid;
    margin: 2vw 25vw;
    padding: 20px 20px;
}

@media screen and (max-width: 768px) {
    .container {
        margin: 2vw 5vw;
    }
}

.mobileImage {
    height: auto; 
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.icons {
    margin-left: 10px;
}

.icons img {
    margin-right: 5px;
}

.icons {
    display: flex;
}

.icon {
    color: black;
    margin-top: -15px;
    margin-right: 10px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 16px;
    height: 16px;
    text-decoration: none;
}

.icon:hover {
    color: #4100f3;
}

.heading {
    font-family: 'JetBrains Mono', monospace;
    font-size: 15px;
    font-weight: 700;
    letter-spacing: 0.5px;
    margin-top: 30px;
    margin-bottom: 10px;
}

.tag {
    font-family: 'JetBrains Mono', monospace;
    font-size: 12px;
    letter-spacing: 0.3px;
    line-height: 1.5;
    color: #ffffff;
    padding: 2px 7px;
    border-radius: 5px;
    text-decoration: none;
    display: inline-block;
    margin-right: 5px;
}

.pages {
    font-family: 'JetBrains Mono', monospace;
    font-size: 12px;
    letter-spacing: 0.3px;
    line-height: 1.5;
    color: black;
    font-weight: 500;
    background-color: rgb(239, 239, 239);
    padding: 2px 7px;
    border-radius: 5px;
    text-decoration: none;
    display: inline-block;
    margin-right: 5px;
}

.date {
    font-family: 'JetBrains Mono', monospace;
    padding-right: 6px;
    font-size: 12px;
    letter-spacing: 0.3px;
    line-height: 140%;
    font-weight: 500;
    text-decoration: none;
}

.tagGraphics {
    background-color: rgb(139, 126, 200);
    /* background-color: #974aa5; */
}

.tagHardware {
    background-color: rgb(209, 77, 65);
    /* background-color: #2196F3; */
}

.tagDesign {
    background-color: rgb(208, 162, 21);
    /* background-color: #FF6F00; */
}

.tagWeb {
    background-color: rgb(58, 169, 159);
    /* background-color: #4CAF50; */
}

.tagiOS {
    background-color: rgb(67, 133, 190);
    /* background-color: #D53D4F; */
}

.tagWriting {
    background-color: rgb(135, 154, 57);
    /* background-color: #3D52D5; */
}

.tagMLAI {
    background-color: rgb(206, 93, 151);
    /* background-color: #b27e06; */
}

.linkP {
    padding-left: 6px;
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    letter-spacing: 0.3px;
    line-height: 140%;
    text-decoration: underline dotted;
    text-decoration-thickness: 2px;
    text-underline-offset: 4px;
    color: black;
}

.iframeContainer {
    height: 800px;
}

.links {
    font-family: 'Inter', sans-serif;
    border: none;
    text-decoration: underline dotted;
    text-decoration-thickness: 2px;
    text-underline-offset: 4px;
    color: #654dfc;
    font-size: 14px;
    letter-spacing: 0.3px;
    line-height: 140%;
}

.imageContainer {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    border-radius: 10px;
}

.contentTag {
    font-family: 'JetBrains Mono', monospace;
    font-size: 12px;
    letter-spacing: 0.3px;
    line-height: 1.5;
    background-color: rgb(249, 231, 127);
    color: black;
    padding: 2px 7px;
    margin-bottom: 0px;
    border-radius: 5px;
    text-decoration: none;
    display: inline-block;
    margin-right: 5px;
}

.contentsLink {
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    border: none;
    text-decoration: none;
    text-underline-offset: 4px;
    color: #654dfc;
    font-size: 13px;
    letter-spacing: 0.3px;
    line-height: 140%;
}