.container {
  display: grid;
  grid-template-columns: 1fr 1.2fr;
}

.leftColumn {
  margin-left: 20px;
  padding: 20px 20px;
  padding-right: 30px;
}

.rightColumn {
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 20px;
  background-color: black;
  color: white;
}

@media (max-width: 768px) {
  .container {
    grid-template-columns: 1fr; 
  }
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.icons {
  margin-left: 10px; 
}

.icons img {
  margin-right: 5px;
}

.icons {
  display: flex;
}

.icon {
  color: black;
  margin-right: 10px; 
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 16px; 
  height: 16px;
  text-decoration: none; 
}

.icon:hover {
  color: #4100f3;
}

.heading {
  font-family: 'JetBrains Mono', monospace;
  font-size: 15px;
  font-weight: 700;
  letter-spacing: 0.5px;
  margin-top: 30px;
  margin-bottom: 10px;
}

.tag {
  font-family: 'JetBrains Mono', monospace;
  font-size: 12px;
  letter-spacing: 0.3px;
  line-height: 1.5;
  color: #ffffff;
  padding: 2px 4px;
  border-radius: 5px;
  text-decoration: none;
  display: inline-block; 
  margin-right: 5px;
}

.tagBlue {
  background-color: #3f76b5;
}

.tagOrange {
  background-color: #b56c3f;
}

.tagPurple {
  background-color: #9a3fb5;
}

.tagGreen {
  background-color: #3fb56c;
}

.tagRed {
  background-color: #b53f3f;
}

.iframeContainer {
  padding-top: 50px;
  height: 800px; 
}