@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap');

body {
  padding: 0;
  margin: 0;
  line-height: 1.4;
}

p {
  font-family: 'Inter', sans-serif;
  font-size: 14px;
  letter-spacing: 0.3px;
  line-height: 140%;
}

h1 {
  font-family: 'Inter', sans-serif;
  font-size: 30px;
  font-weight: 700;
  letter-spacing: 0.7px;
  margin-top: 0;
}

h2 {
  font-family: 'Libre Baskerville', sans-serif;
  font-style: italic;
  font-size: 25px;
  font-weight: 500;
  letter-spacing: 0.6px;
  margin-bottom: 30px;
}

h3 {
  font-family: 'Inter', sans-serif;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0.5px;
  margin-top: 0px;
  margin-bottom: 0;
}

h4 {
  font-family: 'Libre Baskerville', monospace;
  font-style: italic;
  font-size: 18px;
  font-weight: 400;
  color: rgb(66, 66, 66);
  letter-spacing: 0.4px;
  margin-bottom: 0;
}

a {
  border: none;
  background-color: white;
  text-decoration: none;
  /* text-decoration-thickness: 2px;
  text-underline-offset: 4px; */
  color: black;
  font-size: 14px;
  letter-spacing: 0.3px;
  line-height: 140%;
}

hr {
  border: none;
  border-top: 3px solid #eaeaea;
}

ul{
  list-style: none;
  padding: 0; 
  margin: 0;
}

li {
  display: flex; 
  align-items: center;
  p {
    text-decoration: underline dotted;
    text-decoration-thickness: 2px;
    text-underline-offset: 4px;
    margin-top: 6px;
    margin-right: 6px;
    margin-bottom: 8px; 
  }
}

li:hover {
  cursor: pointer;
}

hr {
  border: none;
  border-top: 2px solid #eaeaea;
  margin-top: 20px;
  margin-bottom: 20px;
}

textarea {
  outline: none;
  border: none;
  resize: none;
  font-family: 'Inter', sans-serif;
  font-size: 14px;
  letter-spacing: 0.3px;
  line-height: 140%;
}

code {
  font-family: 'JetBrains Mono', monospace;
  font-size: 12px;
  letter-spacing: 0.3px;
  line-height: 100%;
  background-color: rgb(50, 50, 50);
  color: white;
  padding: 3px 3px;
  border-radius: 5px;
  text-decoration: none;
  display: inline-block;
}

caption {
  font-family: 'Inter', sans-serif;
  font-size: 13px;
  letter-spacing: 0.3px;
  line-height: 130%;
  color: #b0b0b0;
}